*~
.#*
.*.sw[op]
*.tar
*.tar.*
\#*#
/autom4te.cache
/ChangeLog
/aclocal.m4
/announcement
/bin/aclocal
/bin/aclocal-1.*
/bin/automake
/bin/automake-1.*
/config.cache
/config.log
/config.status
/config.status.lineno
/configure
/install-sh
/lb-wan-*/
/missing
Makefile
Makefile.in
/src/bin/*.sh
/src/systemd/*.service
